@tailwind base;
@tailwind components;
@tailwind utilities;

/* All the !important in here can be removed after chakra ui removal */

// Apply custom default colors

html {
  overflow-y: scroll !important;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #fafafa !important;
  font-family: "Fredoka", serif !important;
  font-weight: 400;
  letter-spacing: 0.4px;
}

body {
  overflow-y: overlay !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.desc p:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  color: white;
}

* {
  box-sizing: border-box;
}

.ttLight {
  padding: 3px 5px !important;
  line-height: 1.25em;
  background-color: rgba(139, 92, 246, 0.3);
  color: #f1f5f9;
  opacity: 1 !important;
  font-size: 1rem;
  max-width: 13em;
  text-align: center;
  transition: none;
}

.ttDark {
  padding: 3px 5px !important;
  line-height: 1.25em;
  background-color: rgba(139, 92, 246, 0.3);
  color: #2d2d2d;
  opacity: 1 !important;
  font-size: 1rem;
  max-width: 13em;
  text-align: center;
  transition: none;
}

input,
select,
textarea {
  border-color: #777 !important;
}

/* I don't know why this code was here, but it was causing FOUC
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.tab-filter-light {
  filter: brightness(1.017);
}

.tab-filter-dark {
  filter: invert(0.822) contrast(105%) brightness(115%);
}

/* Change Selection Text Color When Highlighting */
::-moz-selection {
  background-color: #b51c42;
  color: #f7f7f7;
}
::selection {
  background-color: #b51c42;
  color: #f7f7f7;
}
.separate-containers .inside-article {
  padding: 0px;
}

/* variables */
:root {
  /* sizes */
  --maxWidth: 1200px;
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --br: 8px;

  /* font */

  /* colors */
  --black: #272727;
  --blue: #5865f2;
  --yellow: #fed766;
  --red: #e84855;
  --white: #fff;
}
