@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* All the !important in here can be removed after chakra ui removal */

// Apply custom default colors

html {
  overflow-y: none !important;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Serif", serif;
  height: 100%;
  background: #171717 !important;
}

body {
  overflow-y: overlay !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.desc p:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  color: white;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* variables */
:root {
  /* sizes */
  --maxWidth: 1200px;
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --br: 8px;

  /* font */

  /* colors */
  --black: #272727;
  --blue: #5865f2;
  --yellow: #fed766;
  --red: #e84855;
  --white: #fff;
}
